*{
    margin: 0px;padding: 0px;border: 0px
}

li{
    list-style-type: none;
}
body{
    background-color: #E0D1BE;
    overflow-x: hidden;
}
.clear:after{
    content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;
}
.clear{
    zoom:1;
}


.bigbox{
    width: 80%;
    margin: 0 auto;
    margin-top: 5.5%;
}


.box1{
    width: 100%;

    position: relative;
    float: left;


}


.fristleftimg{
    background-image: url("../images/chenxinjia.png");
    width: 50%;
    height: 645px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
   background-size: cover;
}
.fristrightimg{
    background-image: url("../images/chen.jpg");
    width: 50%;
    height: 645px;
    display: inline-block;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
}




.panel1{
    display: inline-block;

    width:440px;
    height: 388px;

    position: absolute;
    top: 20%;
    left: 40%;
    color: rgba(255,255,255,0.8);
    font-size: 28px;
    box-sizing: border-box;
    padding-top:4%;
    padding-left:10%;
    line-height: 70px;
    transform:perspective(500px) rotatey(-26deg);
    transform-style:preserve-3d;
    background-image: url("../images/back.png") !important;

}

.panel1 {

    transform:rotatey(25deg);
}


.secondleftimg{
    background-image: url("../images/wangyichen.jpg");
    width: 50%;
    height: 645px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-size: 0;
    background-size: cover;

}
.secondrightimg{
    background-image: url("../images/wangyichen1.jpg");
    width: 50%;
    height: 645px;
    display: inline-block;
    float: right;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-size: cover;


}





.thirdleftimg{
    background-image: url("../images/cuizhijie.jpg");
    width: 50%;
    height: 645px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-size: cover;
}

.thirdrightimg{
    background-image: url("../images/cui.png.jpg");
    width: 50%;
    height: 645px;
    display: inline-block;
    float: right;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-size: cover;

}
.fourth{ width: 100%;
    border: #8C8077 1px solid;
    background-color: #8C8077;}

.four{
    width:400px;
    hight:28px;
    padding-top:2%;
    right: 40%;
    text-align:center;
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 20px;
    margin-left: 40%;
    color: #FFFFFF;
}
@media (max-width: 991px) and (min-width: 768px) {
    .bigbox{
        width: 100%;
        margin-top: 1.5rem;

    }
    .panel1 li{
        font-size: 0.3rem;
    }

}
