body.welcomePage
{
    background: #8C8077;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.teachRecommendDetail{
    background: #E0D1BE;
}
.welcomePage img{
    position: absolute;
    top: 50%;
    margin: auto;
    -webkit-animation: rotateScale 1s;
    animation: rotateScale 1s;
    margin-top: -25%;
}

@-webkit-keyframes rotateScale {
    0% {
        transform: rotate(0deg) scale(0.2);
        -webkit-transform: rotate(0deg) scale(0.2);
        -moz-transform: rotate(0deg) scale(0.2);
        -o-transform: rotate(0deg) scale(0.2);
        -ms-transform: rotate(0deg) scale(0.2);
    }
    100% {
        transform: rotate(720deg) scale(1);
        -webkit-transform: rotate(720deg) scale(1);
        -moz-transform: rotate(720deg) scale(1);
        -o-transform: rotate(720deg) scale(1);
        -ms-transform: rotate(720deg) scale(1);
    }
}

@keyframes rotateScale {
    0% {
        transform: rotate(0deg) scale(0.2);
        -webkit-transform: rotate(0deg) scale(0.2);
        -moz-transform: rotate(0deg) scale(0.2);
        -o-transform: rotate(0deg) scale(0.2);
        -ms-transform: rotate(0deg) scale(0.2);
    }
    100% {
        transform: rotate(720deg) scale(1);
        -webkit-transform: rotate(720deg) scale(1);
        -moz-transform: rotate(720deg) scale(1);
        -o-transform: rotate(720deg) scale(1);
        -ms-transform: rotate(720deg) scale(1);
    }
}


/*indexPage start*/
/* nav start */
.navBanner{
    width: 100%;
    height: 75px;
    background: rgba(220,220,220,0.7);
    position: fixed;
    top: 0;
    z-index: 11;
}

.navBanner .navBanner-main{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

.navBanner .navBanner-main .logo{
    width: 300px;
    display: inline-block;
    height: 100%;
    background: url(../images/icon.png) no-repeat;
    background-position: 0 -166px;
    background-size: 391%;
    padding: 0;
}
.navBanner .navBanner-main .navList{
    float: right;
}
.navBanner .navBanner-main .navList li{
    width: 55px;
    height: 75px;
    float: left;
    overflow: hidden;
    position: relative;
}

.navBanner .navBanner-main .navList li b{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.navBanner .navBanner-main .navList li .b1{
    position: absolute;
    top:0;
    left: 0;
    background: url(../images/icon.png) no-repeat;
    background-size: 1500%;
    animation:moveLeft .5s;
    -webkit-animation:moveLeft .5s;
}
@keyframes moveLeft {
    0%{
        position: absolute;
        top: 0;
        left: -55px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0px;
    }
}
@-moz-keyframes moveLeft /* Firefox */
{
    0%{
        position: absolute;
        top: 0;
        left: -55px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0px;
    }
}

@-webkit-keyframes moveLeft /* Safari 和 Chrome */
{
    0%{
        position: absolute;
        top: 0;
        left: -55px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0px;
    }
}

@-o-keyframes moveLeft /* Opera */
{
    0%{
        position: absolute;
        top: 0;
        left: -55px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0px;
    }
}
.navBanner .navBanner-main .navList li .b2{
    position: absolute;
    top: 0;
    left: 55px;
    background: url(../images/icon.png) no-repeat;
    background-size: 2000%;
    animation:moveLeft2 .5s;
    -webkit-animation:moveLeft2 .5s;
}
@keyframes moveLeft2 {
    0%{
        position: absolute;
        top: 0;
        left: 0px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 55px;
    }
}
@-moz-keyframes moveLeft2 /* Firefox */
{
    0%{
        position: absolute;
        top: 0;
        left: 0px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 55px;
    }
}

@-webkit-keyframes moveLeft2 /* Safari 和 Chrome */
{
    0%{
        position: absolute;
        top: 0;
        left: 0px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 55px;
    }
}

@-o-keyframes moveLeft2 /* Opera */
{
    0%{
        position: absolute;
        top: 0;
        left: 0px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 55px;
    }
}
.navBanner .navBanner-main .navList li.active .b1,
.navBanner .navBanner-main .navList li:hover .b1{
    position: absolute;
    top:0;
    left: -55px;
    animation:mymove .5s;
    -webkit-animation:mymove .5s;
}
@keyframes mymove {
    0%{
        position: absolute;
        top:0;
        left:0;
    }
    100%{
        position: absolute;
        top:0;
        left: -55px;
    }
}
@-moz-keyframes mymove /* Firefox */
{
    0%{
        position: absolute;
        top:0;
        left:0;
    }
    100%{
        position: absolute;
        top:0;
        left: -55px;
    }
}

@-webkit-keyframes mymove /* Safari 和 Chrome */
{
    0%{
        position: absolute;
        top:0;
        left:0;
    }
    100%{
        position: absolute;
        top:0;
        left: -55px;
    }
}

@-o-keyframes mymove /* Opera */
{
    0%{
        position: absolute;
        top:0;
        left:0;
    }
    100%{
        position: absolute;
        top:0;
        left: -55px;
    }
}
.navBanner .navBanner-main .navList li.active .b2,
.navBanner .navBanner-main .navList li:hover .b2{
    position: absolute;
    top: 0;
    left: 0px;
    animation:moveRight 1s;
    -webkit-animation:moveRight 1s;
}
@keyframes moveRight {
    0%{
        position: absolute;
        top: 0;
        left: 55px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0px;
    }
}
@-moz-keyframes moveRight /* Firefox */
{
    0%{
        position: absolute;
        top: 0;
        left: 55px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0px;
    }
}

@-webkit-keyframes moveRight /* Safari 和 Chrome */
{
    0%{
        position: absolute;
        top: 0;
        left: 55px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0px;
    }
}

@-o-keyframes moveRight /* Opera */
{
    0%{
        position: absolute;
        top: 0;
        left: 55px;
    }
    100% {
        position: absolute;
        top: 0;
        left: 0px;
    }
}
.navBanner .navBanner-main .navList li:nth-child(1) .b1{
    background-position: -364px -105px;
}
.navBanner .navBanner-main .navList li:nth-child(2) .b1{
    background-position: -420px -105px;
}
.navBanner .navBanner-main .navList li:nth-child(3) .b1{
    background-position: -476px  -105px;
}
.navBanner .navBanner-main .navList li:nth-child(4) .b1{
    background-position: -532px -105px;
}
.navBanner .navBanner-main .navList li:nth-child(5) .b1{
    background-position: -588px -105px;
}
.navBanner .navBanner-main .navList li:nth-child(6) .b1{
    background-position: -644px -105px;
}
.navBanner .navBanner-main .navList li:nth-child(7) .b1{
    background-position: -700px -105px;
}
.navBanner .navBanner-main .navList li:nth-child(8) .b1{
    background-position: -756px -105px;
}
.navBanner .navBanner-main .navList li:nth-child(1) .b2{
    background-position: -493px -289px;
}
.navBanner .navBanner-main .navList li:nth-child(2) .b2{
    background-position: -569px -289px
}
.navBanner .navBanner-main .navList li:nth-child(3) .b2{
    background-position: -645px -289px;
}
.navBanner .navBanner-main .navList li:nth-child(4) .b2{
    background-position: -721px -289px;
}
.navBanner .navBanner-main .navList li:nth-child(5) .b2{
    background-position: -797px -289px;
}
.navBanner .navBanner-main .navList li:nth-child(6) .b2{
    background-position: -873px -289px;
}
.navBanner .navBanner-main .navList li:nth-child(7) .b2{
    background-position: -949px -289px;
}
.navBanner .navBanner-main .navList li:nth-child(8) .b2{
    background-position: -1025px -289px;
}
/* nav end */

.floor1-inner,
.floor2-inner{
    width: 1100px;
    height: 274px;
    margin:0 auto;
    margin-top: 10px;
}
.floor1-inner .floor1-l{
    display: inline-block;
    width: 33%;
    float: left;
}
.floor1-inner .floor1-r{
    float: right;
    width: 66%;
    position:  relative;
    height:  100%;
}
.floor1-inner .floor1-l img,
.floor1-inner .floor1-r img{
    width: 100%;
}
.floor1-inner .floor1-r ul{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 11%;
}
.floor1-inner .floor1-r li{
    border: 1px solid transparent;
    float: left;
    width: 16.3%;
    height: 100%;
}
.floor1-inner .floor1-r li a{
    display: block;
    height: 100%;
}
.floor2-inner .floor2-l,
.floor2-inner .floor2-r{
    width: 50%;
    box-sizing: border-box;
}
.floor2-inner .floor2-l{
    padding-right:10px;
    float: left;
}
.floor2-inner .floor2-r {
    paddig-left: 10px;
    float: right;
    height: 99%;
    padding-left: 90px;
    background: url(../images/indexActiveTit.png) no-repeat  #8A8077;
    background-size: 49px;
    background-position: 24px 18px;
}
.floor2-inner .floor2-r .main-left{
    padding: 30px 30px 30px 0;
}

.floor2-inner .floor2-r .main-left li{
    line-height: 35px;


}
.floor2-inner .floor2-r .main-left li a{
    display: block;
    color: #fff;
}
.floor2-inner .floor2-r .main-left li a b{
    display: inline-block;
    float: left;
    width:20px;
    height: 35px;
    background: url("../images/indexActionIcon.png") no-repeat;
    background-position: center;
    margin-right: 10px;
}
.floor2-inner .floor2-r .main-left li time{
    float: right;
}
.frouth{
    background-color: #8c8077;
    width: 100%;


}
.frou{
    width: 400px;
    padding: 20px 0;
    text-align: center;
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 20px;
    margin: 0 auto;
    color: #FFFFFF;

}

/*indexPage end*/

/**/
#menu{

    position: fixed;
    right: 20px;
    top: 50%;
    z-index: 1;
    width: 100px;
    margin-top: -120px;
}
#menu li{
    margin-bottom: 10px;

    text-align: center;

}
#menu li a{
    display: block;
    padding: 10px 0;
    background: #B18E6F;
    color: #fff;
    font-size: 16px;
}
#menu li.active a{

    background: #EDE0CD;
    color: #fff;

}

/*teachRecommendDetail start*/
.teachRecommendDetail-main,
.courseDetail-main,
.recruiting-main{
    width: 1100px;
    margin:0 auto;
}
.teacher-info,
.course-info,
.recruiting-info{
    margin-left:170px;
}
.teachRecommendDetail-main .teacherImg{
    width: 30%;
    float: left;
}
.teacherTab,
.courseTab,
.recruitingTab{
    display: inline-block;
    width:145px;
    position: fixed;
    top: 0;
}
.teacherTab ul,
.courseTab ul,
.recruitingTab ul{
    margin-bottom: 0;
}
.teacherTab h5,
.teacherTab li,
.courseTab h5,
.courseTab li,
.recruitingTab h5,
.recruitingTab li{
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #B18E6F;
    margin-top: 1px;
    color: #fff;
}
.teacherTab h5,
.courseTab h5,
.recruitingTab h5{
    background:#988678;
    font-weight: bold;
    margin-bottom: 0;
}
.teacherTab li.active,
.courseTab li.active,
.recruitingTab li.active{
    background: #EDE0CD;
    color: #B08F6E;
}
/*teachRecommendDetail end*/

/*courseDetailPage start*/
.courseDetailPage{
    width: 100%;
    background-color: #F7F2EF;
}
.courseDetailPage .courseTab{
    top:74px;
}
.courseDetailPage .navBanner{
    position:fixed;
}

.courseDetailPage li:hover{
    color: #988678;
    cursor:pointer
}
.courseDetailPage .title{
    font-size: 20px;
    color:#988678;
    font-weight: bold;
    line-height: 40px;
}
.courseDetailPage p{
    font-size: 15px;
    color: #988678;
    line-height: 40px;
    text-indent:2em ;
}

.courseDetailPage .courseDetail-main,
.courseDetailPage .courseDetail-main img{
    width: 90%;
}

/*courseDetailPage end*/


/*contactUs start*/
.contactUs-main{
    width: 1100px;
    margin: 0 auto;
}
.contactUs-main .top{
    position: relative;
    top: 75px;
    height: 400px;
}
.contactUs-main .top .img{
    position: absolute;
}
.contactUs-main .top .img1{
    top: 61px;
    right: 245px;
    animation:img1 1s;
    -webkit-animation:img1 1s;
}
@keyframes img1 {
    0%{
        top: 61px;
        right: -500px;
    }
    100% {
        top: 61px;
        right: 245px;
    }
}
@-moz-keyframes img1 /* Firefox */
{
    0%{
        top: 61px;
        right: -500px;
    }
    100% {
        top: 61px;
        right: 245px;
    }
}

@-webkit-keyframes img1 /* Safari 和 Chrome */
{
    0%{
        top: 61px;
        right: -500px;
    }
    100% {
        top: 61px;
        right: 245px;
    }
}

@-o-keyframes img1 /* Opera */
{
    0%{
        top: 61px;
        right: -500px;
    }
    100% {
        top: 61px;
        right: 245px;
    }
}
.contactUs-main .top .img2{
    top: 62px;
    left: 145px;
    animation:img2 1s;
    -webkit-animation:img2 1s;
}
@keyframes img2 {
    0%{
        top: 61px;
        left: -500px;
    }
    100% {
        top: 62px;
        left: 145px;
    }
}
@-moz-keyframes img2 /* Firefox */
{
    0%{
        top: 61px;
        left: -500px;
    }
    100% {
        top: 62px;
        left: 145px;
    }
}

@-webkit-keyframes img2 /* Safari 和 Chrome */
{
    0%{
        top: 61px;
        left: -500px;
    }
    100% {
        top: 62px;
        left: 145px;
    }
}

@-o-keyframes img2/* Opera */
{
    0%{
        top: 61px;
        left: -500px;
    }
    100% {
        top: 62px;
        left: 145px;
    }
}

.contactUs-main .top .img3{
    top: 51px;
    left: 468px;
    animation:img3 1s;
    -webkit-animation:img3 1s;
}
.contactUs-main .top .img4{
    top: 200px;
    right: 342px;
    animation:img4 1.5s;
    -webkit-animation:img4 1.5s;
}
@keyframes img4 {
    0%{
        top: 200px;
        right: -300px;
    }
    100% {
        top: 200px;
        right: 342px;
    }
}
@-moz-keyframes img4/* Firefox */
{
    0%{
        top: 200px;
        right: -300px;
    }
    100% {
        top: 200px;
        right: 342px;
    }
}

@-webkit-keyframes img4 /* Safari 和 Chrome */
{
    0%{
        top: 200px;
        right: -300px;
    }
    100% {
        top: 200px;
        right: 342px;
    }
}

@-o-keyframes img4/* Opera */
{
    0%{
        top: 200px;
        right: -300px;
    }
    100% {
        top: 200px;
        right: 342px;
    }
}

.contactUs-main .top .img5{
    top: 237px;
    right: 200px;
    animation:img5 1.5s;
    -webkit-animation:img5 1.5s;
}
@keyframes img5 {
    0%{
        top: 237px;
        right: -300px;
    }
    100% {
        top: 237px;
        right: 200px;
    }
}
@-moz-keyframes img5/* Firefox */
{
    0%{
        top: 237px;
        right: -300px;
    }
    100% {
        top: 237px;
        right: 200px;
    }
}

@-webkit-keyframes img5 /* Safari 和 Chrome */
{
    0%{
        top: 237px;
        right: -300px;
    }
    100% {
        top: 237px;
        right: 200px;
    }
}

@-o-keyframes img5/* Opera */
{
    0%{
        top: 237px;
        right: -300px;
    }
    100% {
        top: 237px;
        right: 200px;
    }
}

.contactUs-main .bottom{
    /*height: 430px;*/
}
.contactUs-main .bottom .map{
    width: 82%;
}
.contactUs-main .bottom .btm-right .map{
    float: right;
}
.contactUs-main .bottom .btm-left{
    display: inline-block;
    width: 50%;
    /*height: 476px;*/
    /*float: left;*/
    /*background: url(../images/map1.png) no-repeat;*/
    background-size: 85%;
    position: relative;
}
.contactUs-main .bottom .btm-left .address{
    position: absolute;
    top: 20%;
}
.contactUs-main .bottom .btm-left .hover{
    position: absolute;
    top: 49%;
    width: 40px;
    left: 22%;
}
.contactUs-main .bottom .btm-right{
    display: inline-block;
    width: 50%;
    /*height: 476px;*/
    float: right;
    /*background: url("../images/map2.png") no-repeat;*/
    background-size: 82%;
    background-position: 80px 40px;
    position: relative;
}
.contactUs-main .bottom .btm-right .address{
    top: 51%;
    position: absolute;
    left: 33%;
}
.contactUs-main .bottom .btm-right .hover{
    position: absolute;
    top: 32%;
    width: 40px;
    left: 34%;
}

/*contactUs end*/


/*activity start*/
.activityList-main{
    width: 1100px;
    min-height: 500px;
    margin: 100px auto 51px;
    box-sizing: border-box;
    padding-left: 90px;
    background: url(../images/mingzhiActivity.png) no-repeat #e0d1be;
    background-size: 30px;
    background-position: 30px 155px;
}

.activityList-main .main-left{
    padding: 120px 50px 50px 0;
    
}
.activityList-main .main-left li{
    line-height: 35px;
}
.activityList-main .main-left li a{
    display: block;
    color: #8c8078;
}
.activityList-main .main-left li a b{
    display: inline-block;
    float: left;
    width:20px;
    height: 35px;
    background: url("../images/activeListIcon.png") no-repeat;
    background-position: center;
    margin-right: 10px;
}
.activityList-main .main-left li time{
    float: right;
}
/*activity end*/

/* .mingzhiActivityDetailPage start*/
.mingzhiActivityDetailPage{
    background-color: #e0d1be;
}
.mingzhiActivityDetailPage .recruiting-info{
    width: 80%;
    padding-top: 100px;
}
.mingzhiActivityDetailPage h1,.mingzhiActivityDetailPage h3{
    text-align: center;
    line-height: 40px;
    color: #444;
    font-weight: bold;
}
.mingzhiActivityDetailPage h1{
    font-size: 25px;
    padding: 10px;
}
.mingzhiActivityDetailPage h3{
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
.mingzhiActivityDetailPage p{
    color: #3c3c3c;
    text-indent: 2em;
    line-height: 30px;
    padding-bottom: 10px;
    text-align: left;
}
.mingzhiActivityDetailPage img{
    width: 100%;
}
.mingzhiActivityDetailPage div{
    text-align: center;
    line-height: 35px;
}
/*.mingzhiActivityDetailPage end*/

@-webkit-keyframes bounceInLeft {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInLeft {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        -ms-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        -ms-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        -ms-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        -ms-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft
}
.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 20s;
    animation-duration: 20s
}

@-webkit-keyframes bounceInRight {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes bounceInRight {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        -ms-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        -ms-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0)
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        -ms-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        -ms-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0)
    }
    100% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight
}
@-webkit-keyframes bounceInUp {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounceInUp {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        -ms-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        -ms-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp
}
@-webkit-keyframes zoomInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@keyframes zoomInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

.zoomInLeft {
    -webkit-animation-name: zoomInLeft;
    animation-name: zoomInLeft
}

@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

.zoomInRight {
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight
}
@-webkit-keyframes bounceInUp {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes bounceInUp {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        -ms-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        -ms-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        -ms-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        -ms-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp
}
@-webkit-keyframes rotateInDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateInDownLeft {
    0% {
        -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        -ms-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        transform-origin: left bottom;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateInDownLeft {
    -webkit-animation-name: rotateInDownLeft;
    animation-name: rotateInDownLeft
}

@-webkit-keyframes rotateInDownRight {
    0% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateInDownRight {
    0% {
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        -ms-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0
    }
    100% {
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateInDownRight {
    -webkit-animation-name: rotateInDownRight;
    animation-name: rotateInDownRight
}
@-webkit-keyframes zoomInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@keyframes zoomInLeft {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

.zoomInLeft {
    -webkit-animation-name: zoomInLeft;
    animation-name: zoomInLeft
}

@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@keyframes zoomInRight {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

.zoomInRight {
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight
}

@media (max-width: 991px) and (min-width: 768px) {
    .floor1-inner .floor1-l {
        width: 100%;
        float: none;
    }

    .floor1-inner .floor1-r {
        float: none;
        width: 100%;
    }

    .floor1-inner,
    .floor2-inner {
        width: 100%;
        margin-top: 0;
        height: auto;
        background: #8A8077;
    }

    .floor2-inner .floor2-l,
    .floor2-inner .floor2-r {
        width: 100%;
    }

    .floor2-inner .floor2-r {
        padding-left: 1.2rem;
        background-size: 60px;
        background-position: 29px 27px;
    }

    .floor2-inner .floor2-r .main-left li a {
        font-size: 0.26rem;
        line-height: 0.5rem;
    }

    .floor2-inner .floor2-r .main-left li a b {
        width: 26px;
        height: 44px;
        background-size: 100%;
        margin-right: 0.1rem;
    }

    .frou {
        width: auto;
        font-size: 0.24rem;
        line-height: 0.4rem;
    }

    .navBtn {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background: url(../images/wapImg-17.png) no-repeat;
        position: relative;
        top: -1.5rem;
        float: right;
        background-size: 40%;
        background-position: center;
    }

    .nav-con {
        width: 100%;
        background: #FFF8E8;
        position: relative;
        right: -100%;
    }

    .nav-con li {
        margin: 0 auto;
        padding: 0.2rem 0;
        text-align: center;
    }

    .nav-con li a {
        text-align: left;
        display: inline-block;
    }

    .nav-con li:nth-child(1) a {
        margin-left: -0.5rem;
    }

    .nav-con li:nth-child(3) a,
    .nav-con li:nth-child(4) a,
    .nav-con li:nth-child(6) a,
    .nav-con li:nth-child(7) a {
        margin-left: -0.1rem;
    }

    .nav-con li:nth-child(5) a {
        margin-left: 0.2rem;
    }

    .nav-con li:nth-child(8) a {
        margin-left: 0.05rem;
    }

    .nav-con img {
        height: 1.2rem;
        width: auto;
    }

    .navBanner {
        height: 1.5rem;
    }

    .navBanner .navBanner-main {
        width: 100%;
        background: #fff;
    }

    .navBanner .navBanner-main .logo {
        width: 4rem;
        display: block;
        margin: 0 auto;
        background-position: -37px -279px;
        background-size: 510%;
    }
    .navBanner .weather{
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
    }
    .navBanner .weather .weather-img img{
        width: 0.8rem;
        margin-top: 0.35rem;
        margin-left: 0.15rem;
    }
    .navBanner .weather .weather-info{
        padding: 0.38rem 0.1rem;
    }
    .navBanner .weather .weather-info .info{
        font-size: 0.26rem;
        color: #988678;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        width: 1.7rem;
    }
    .courseIntroPage {
        background: #eadfd8;
    }

    .courseIntroPage .section11 {
        margin-top: 1.5rem;
    }

    .section .screen-main {
        border-top: 0.2rem solid transparent;
    }

    .teacher-info, .course-info, .recruiting-info {
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .sztjPage .mobileleft{
        width: 50%;
        float: left;


    }
    .sztjPage .mobileright {
        width: 50%;
        float: right;
        right: 0;

    }

    .sztjPage .mobileleft .wen,
    .sztjPage .mobileright .wen{
        font-size: 20px;
        margin-left: 10%;
        line-height: 40px;
    }
    .sztjPage .mobileleft .text,
    .sztjPage .mobileright .text{

        margin-left: 10%;
        font-size: 40px;
        font-weight: bold;

    }
    .sztjPage .mobileleft q,
    .sztjPage .mobileright q{
        font-size: 25px;
        margin-left: 10%;
        font-weight: bold;
    }
    .teachRecommendDetail .teachRecommendDetail-main{
        width: 100%;
    }
    .teachRecommendDetail .teachRecommendDetail-main .teacherImg{
        width: 100%;
        margin-top: 0;
    }

    .teachRecommendDetail .teacher-info{
        padding: 0;
    }
    .teachRecommendDetail .teacher-info .teacher-info-text{
        text-indent: 1rem;
    }
    .teachRecommendDetail .teacher-info .name{
        font-size: 0.6rem;
        font-weight: bold;
        line-height: 1.2rem;
    }
    .teachRecommendDetail .teacher-info .teacher-info-text p{
        font-size: 0.45rem;
        line-height: 0.7rem;
    }
    .teachRecommendDetail .teacher-info .teacher-info-text section p{
        font-size: 0.3rem;
        line-height: 0.7rem;
    }
    .courseDetailPage .title {
        font-size: 0.35rem;
        line-height: 0.8rem;
    }

    .courseDetailPage p {
        font-size: 0.3rem;
        line-height: 0.8rem;
    }

    .courseDetailPage .course-info img {
        width: 100%;
        padding-bottom: 0.4rem;
    }

    .mingzhiActivityPage .clear {
        margin-top: 1.5rem;
    }

    .mingzhiActivityPage .clear img {
        width: 100%;
        padding-top: 0.2rem;
    }

    .mingzhiActivityPage .activityList-main {
        width: 100%;
        min-height: 6rem;
        padding-left: 1.5rem;
        margin: 0;
        background: url(../images/mingzhiActivity.png) no-repeat #fff;
        background-size: 83px;
        background-position: 0.3rem 1.3rem;
    }

    .mingzhiActivityPage .activityList-main .main-left li a {
        color: #8c8078;
        line-height: 0.7rem;
        font-size: 0.3rem;
    }

    .mingzhiActivityPage .activityList-main .main-left li a b {
        width: 0.33rem;
        height: 0.7rem;
        background-size: 100%;
    }
    .mingzhiActivityDetailPage{
        background: #fff;
    }
    .mingzhiActivityDetailPage .recruiting-info {
        width: 100%;
        padding: 0.2rem 0.4rem;
    }
    .mingzhiActivityDetailPage h1, .mingzhiActivityDetailPage h3{
        line-height: 0.8rem;
    }
    .mingzhiActivityDetailPage h1 {
        font-size: 0.4rem;
    }
    .mingzhiActivityDetailPage h3{
        font-size: 0.33rem;
    }
    .mingzhiActivityDetailPage p{
        font-size: 0.3rem;
        line-height: 0.7rem;
    }
    .mingzhiActivityDetailPage img{
        margin-bottom: 0.3rem;
    }
    .mingzhiActivityDetailPage div{
        font-size: 0.3rem;
    }

    .studentDetailPage .courseDetail-main{
        width: 100%;
        padding-top: 0;
        min-height: 13.3rem;
    }
    .studentDetailPage .peopleInfo{
        background: #9B8377;
    }
    .studentDetailPage .peopleInfo img{
        width: 50%;
        margin-top:0;
    }
    .studentDetailPage .peopleInfo .info{
        margin-top: 0;
        width: 49%;

    }
    .studentDetailPage .peopleInfo .info p{
        color: #fff;
        line-height: 0.7rem;
        font-size: 0.3rem;
    }
    .studentDetailPage .peopleInfo .info p.name{
        font-size: 0.35rem;

    }

    .studentDetailPage .courseDetail-main .otherInfo {
        padding: 0 0.4rem;
        line-height: 0.7rem;
    }
    .studentDetailPage .otherInfo h6{
        font-size: 0.34rem;
        color: #988678;
        line-height: 0.7rem;
    }
    .studentDetailPage .otherInfo p{
        font-size: 0.3rem;
        line-height: 0.7rem;
    }
    .studentDetailPage .courseDetail-main .otherInfo img{
        width: 100%;
    }

    .recruitingPage .frist{
        margin-top: 1.5rem;
    }
    .recruitingPage .frist img{
        width: 100%;
        margin-top: 0;
    }
    .recruitingPage .two{
        width: 100%;
        margin: 0;
    }
    .recruitingPage .textop{
        width: 100%;
        font-size: 0.34rem;
        line-height: 0.7rem;
    }
    .recruitingPage .tex{
        font-size: 0.28rem;
        line-height: 0.7rem;
    }
    .recruitingPage .tex a{
        display: inline-block;
        color: #988678;
    }
    .recruitingPage .tex a:last-child{
        padding-right:0;
    }
    .recruitingPage .two1{
        margin-top:1rem;
    }
    .recruitingPage .two2margin{
        margin-bottom: 1rem;
    }
    .teachRecommendDetail-main, .courseDetail-main, .recruiting-main{
        width: 100%;
    }
    .recruitingDetailPage p{
        font-size: 0.3rem;
        line-height: 0.7rem;
    }
    .recruitingDetailPage p.title{
        font-size: 0.34rem;
        line-height: 0.7rem;
    }

    .contactUsPage .contactUs-main{
        width: 100%;
    }
    .contactUsPage .contactUs-main img{
        width: 100%;
    }
    .contactUsPage .contactUs-main .bottom .btm-left,
    .contactUsPage .contactUs-main .bottom .btm-right{
        float: none;
        width: 100%;
    }
    .contactUsPage .contactUs-main .top{
        top: 1.5rem;
        margin-bottom: 1.5rem;
        height: 4.5rem;
    }
    .contactUsPage .contactUs-main .top .img1{
        top: 218px;
        right: 64px;
    }
    @keyframes img1 {
        0%{
            top: 61px;
            right: -500px;
        }
        100% {
            top: 218px;
            right: 64px;
        }
    }
    @-moz-keyframes img1 /* Firefox */
    {
        0%{
            top: 61px;
            right: -500px;
        }
        100% {
            top: 218px;
            right: 64px;
        }
    }

    @-webkit-keyframes img1 /* Safari 和 Chrome */
    {
        0%{
            top: 61px;
            right: -500px;
        }
        100% {
            top: 218px;
            right: 64px;
        }
    }

    @-o-keyframes img1 /* Opera */
    {
        0%{
            top: 61px;
            right: -500px;
        }
        100% {
            top: 218px;
            right: 64px;
        }
    }
    .contactUsPage .contactUs-main .top .img2{
        top: 189px;
        left: 56px;
    }
    @keyframes img2 {
        0%{
            top: 61px;
            left: -500px;
        }
        100% {
            top: 189px;
            left: 56px;
        }
    }
    @-moz-keyframes img2 /* Firefox */
    {
        0%{
            top: 61px;
            left: -500px;
        }
        100% {
            top: 189px;
            left: 56px;
        }
    }

    @-webkit-keyframes img2 /* Safari 和 Chrome */
    {
        0%{
            top: 61px;
            left: -500px;
        }
        100% {
            top: 189px;
            left: 56px;
        }
    }

    @-o-keyframes img2/* Opera */
    {
        0%{
            top: 61px;
            left: -500px;
        }
        100% {
            top: 189px;
            left: 56px;
        }
    }
    .contactUsPage .contactUs-main .top .img3{
        width: 1.6rem;
        top: 136px;
        left: 423px;
    }

    .contactUsPage .contactUs-main .top .img4{
        top: 348px;
        right: 315px;
    }
    @keyframes img4 {
        0%{
            top: 200px;
            right: -300px;
        }
        100% {
            top: 348px;
            right: 315px;
        }
    }
    @-moz-keyframes img4/* Firefox */
    {
        0%{
            top: 200px;
            right: -300px;
        }
        100% {
            top: 348px;
            right: 315px;
        }
    }

    @-webkit-keyframes img4 /* Safari 和 Chrome */
    {
        0%{
            top: 200px;
            right: -300px;
        }
        100% {
            top: 348px;
            right: 315px;
        }
    }

    @-o-keyframes img4/* Opera */
    {
        0%{
            top: 200px;
            right: -300px;
        }
        100% {
            top: 348px;
            right: 315px;
        }
    }

    .contactUsPage .contactUs-main .top .img5{
        top: 400px;
        right: 316px;
    }
    @keyframes img5 {
        0%{
            top: 237px;
            right: -300px;
        }
        100% {
            top: 400px;
            right: 316px;
        }
    }
    @-moz-keyframes img5/* Firefox */
    {
        0%{
            top: 237px;
            right: -300px;
        }
        100% {
            top: 400px;
            right: 316px;
        }
    }

    @-webkit-keyframes img5 /* Safari 和 Chrome */
    {
        0%{
            top: 237px;
            right: -300px;
        }
        100% {
            top: 400px;
            right: 316px;
        }
    }

    @-o-keyframes img5/* Opera */
    {
        0%{
            top: 237px;
            right: -300px;
        }
        100% {
            top: 400px;
            right: 316px;
        }
    }
    .contactUsPage .contactUs-main .top .img0{
        width: 3.5rem;
        margin-left: 0.5rem;
    }
    .contactUsPage .contactUs-main .bottom .map{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 1rem;
        display: block;
        float: initial;
    }
    .contactUs-main .bottom .address{
        width: 2rem;
    }
    .contactUs-main .bottom .btm-left .map{
        margin-top: 1rem;
    }
    .contactUs-main .bottom .btm-left .hover{
        top: 47%;
        left: 36%;
        width: 0.6rem;
    }
    .contactUs-main .bottom .btm-right .address{
        left: 32%;
        z-index: 1;
        top: 45%;
    }
    .contactUs-main .bottom .btm-left .address {
        top: 22%;
        left: 19%;
    }
    .contactUs-main .bottom .btm-right .hover{
        top: 30%;
        width: 0.6rem;
        z-index: 0;
    }
    .indexPage .sroll{
        margin-top: 1.5rem;
    }
}
