<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程介绍</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/welcome.css">
    <link rel="icon" href="images/bitbug_favicon.ico" >
    <link rel="stylesheet" href="css/Bootstrap.css">
    <script src="js/rem.js"></script>
</head>
<body class="courseDetailPage">
<nav class="navBanner  hidden-xm hidden-sm">
    <section class="navBanner-main">
        <a class="logo" href="index.html"></a>
        <ul class="navList">
            <li>
                <a href="index.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="academyIntroduced.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="teachRecommend.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li class="active">
                <a href="courseIntroduction.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="mingzhiActivity.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="mingzhiStudents.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="contactUs.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="recruiting.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
        </ul>
    </section>

</nav>
<nav class="navBanner visible-xs visible-sm">
    <section class="navBanner-main">
        <section></section>
        <a class="logo" href="index.html"></a>
        <span class="navBtn"></span>
    </section>
    <section class="nav-con">
        <ul style="padding-top: 0.4rem;">
            <li>
                <a href="index.html">
                    <img src="images/wapImg-18.png" alt="">
                </a>
            </li>
            <li class="active">
                <a href="academyIntroduced.html">
                    <img src="images/wapImg-19.png" alt="">
                </a>
            </li>
            <li>
                <a href="teachRecommend.html">
                    <img src="images/wapImg-20.png" alt="">
                </a>
            </li>
            <li class="active">
                <a href="courseIntroduction.html">
                    <img src="images/wapImg-21.png" alt="">
                </a>
            </li>
            <li>
                <a href="mingzhiActivity.html">
                    <img src="images/wapImg-22.png" alt="">
                </a>
            </li>
            <li>
                <a href="mingzhiStudents.html">
                    <img src="images/wapImg-23.png" alt="">
                </a>
            </li>
            <li>
                <a href="contactUs.html">
                    <img src="images/wapImg-24.png" alt="">
                </a>
            </li>
            <li>
                <a href="recruitingDetail.html">
                    <img src="images/wapImg-25.png" alt="">
                </a>
            </li>
        </ul>
    </section>
</nav>
<section class="courseDetail-main"  id="courseDetail">

    <nav class="courseTab hidden-xm hidden-sm ">
        <h5>课程介绍</h5>
        <ul>
            <li v-for="(item,index) in names" :class="{active:index == num}" @click="tab(index)">{{item}}</li>
        </ul>
    </nav>
    <section class="course-info" v-for='(itemCon,index) in details' v-show=" index == num">
        <img class="courseImg hidden-xm hidden-sm" v-bind:src="itemCon.imgUrl" alt="">
        <img class="courseImg visible-xs visible-sm" v-bind:src="itemCon.imgUrlM" alt="">
        <section v-for='(introCon,index) in itemCon.introCon' class="course-info-text">
            <h3 class="title">{{introCon.title}}</h3>
            <section v-html="introCon.textCon">
            </section>
        </section>
    </section>
</section>
<div class="frouth">
    <ul class="frou">
        <li><strong>钱江学堂</strong></li>
        <li>0571-85186096</li>
        <li>杭州市上城区中豪·望江国际1号楼3楼</li><br/>
        <li><strong>西溪学堂</strong></li>
        <li>0571-87248006</li>
        <li>杭州市西湖区西溪银泰3号楼北楼113-114</li><br/>
        <li>COPYRIGHT©2018 杭州日新教育咨询有限公司.ALL RIGHTS RESERVED</li>
        <li>浙ICP备0000008号-1 网站设计与建设：杭州敬惜设计</li>
    </ul>

</div>
</body>
<script src="js/jquery-2.2.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="js/courseDetail.js"></script>
<script src="js/common.js"></script>
</html>