<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招贤纳士</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/welcome.css">
    <link rel="icon" href="images/bitbug_favicon.ico" >
    <link rel="stylesheet" href="css/Bootstrap.css">
    <script src="js/rem.js"></script>
    <style>

        .recruiting-main{
            margin-top: 8%;

        }
        .recruitingTab{
            top:74px;
        }
        .navBanner{
            position:fixed;
        }

        li:hover{
            color: #988678;
            cursor:pointer
        }
       p:first-child{
            font-size: 22px;
           margin-bottom: 10px;
        }

        .title{
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            color: #988678;
            border: #988678 1px solid;

            padding-left:  18px ;
            padding-right: 18px;
            box-sizing: border-box;
            border-radius: 5px;
            line-height: 35px;
            letter-spacing: 2px;

        }

        p{
            color: #3c3c3c;
            line-height: 40px;
        }
        .recruiting-info-text{
            margin: 3%;
        }
    </style>
</head>
<body class="recruitingDetailPage">
<nav class="navBanner hidden-xm hidden-sm">
    <section class="navBanner-main">
        <a class="logo" href="index.html"></a>
        <ul class="navList">
            <li>
                <a href="index.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="academyIntroduced.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="teachRecommend.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="courseIntroduction.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="mingzhiActivity.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="mingzhiStudents.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li>
                <a href="contactUs.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
            <li class="active">
                <a href="recruiting.html">
                    <b class="b1"></b>
                    <b class="b2"></b>
                </a>
            </li>
        </ul>
    </section>

</nav>
<nav class="navBanner visible-xs visible-sm">
    <section class="navBanner-main">
        <section></section>
        <a class="logo" href="index.html"></a>
        <span class="navBtn"></span>
    </section>
    <section class="nav-con">
        <ul style="padding-top: 0.4rem;">
            <li>
                <a href="index.html">
                    <img src="images/wapImg-18.png" alt="">
                </a>
            </li>
            <li>
                <a href="academyIntroduced.html">
                    <img src="images/wapImg-19.png" alt="">
                </a>
            </li>
            <li>
                <a href="teachRecommend.html">
                    <img src="images/wapImg-20.png" alt="">
                </a>
            </li>
            <li>
                <a href="courseIntroduction.html">
                    <img src="images/wapImg-21.png" alt="">
                </a>
            </li>
            <li>
                <a href="mingzhiActivity.html">
                    <img src="images/wapImg-22.png" alt="">
                </a>
            </li>
            <li>
                <a href="mingzhiStudents.html">
                    <img src="images/wapImg-23.png" alt="">
                </a>
            </li>
            <li>
                <a href="contactUs.html">
                    <img src="images/wapImg-24.png" alt="">
                </a>
            </li>
            <li class="active">
                <a href="recruitingDetail.html">
                    <img src="images/wapImg-25.png" alt="">
                </a>
            </li>
        </ul>
    </section>
</nav>
<section class="recruiting-main"  id="recruitingDetail">
    <nav class="recruitingTab hidden-xm hidden-sm">
        <h5>教学部</h5>
        <ul>
            <li v-for="(item,index) in jiaoxue" :class="{active:item.id == num}" @click="tab(item.id)">{{item.name}}</li>
        </ul>
        <h5>课程部</h5>
        <ul>
            <li v-for="(item,index) in kecheng" :class="{active:item.id == num}" @click="tab(item.id)">{{item.name}}</li>
        </ul>
        <h5>市场部</h5>
        <ul>
            <li v-for="(item,index) in shichang" :class="{active:item.id == num}" @click="tab(item.id)">{{item.name}}</li>
        </ul>
    </nav>
    <section class="recruiting-info" v-for='(itemCon,index) in details' v-show=" num == itemCon.id">
        <section class="recruiting-info-text" v-html="itemCon.info">
        </section>
    </section>
</section>
<div class="frouth">
    <ul class="frou">
        <li><strong>钱江学堂</strong></li>
        <li>0571-85186096</li>
        <li>杭州市上城区中豪·望江国际1号楼3楼</li><br/>
        <li><strong>西溪学堂</strong></li>
        <li>0571-87248006</li>
        <li>杭州市西湖区西溪银泰3号楼北楼113-114</li><br/>
        <li>COPYRIGHT©2018 杭州日新教育咨询有限公司.ALL RIGHTS RESERVED</li>
        <li>浙ICP备0000008号-1 网站设计与建设：杭州敬惜设计</li>
    </ul>

</div>
</body>
<script src="js/jquery-2.2.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="js/common.js"></script>
<script src="js/recruiting.js"></script>
</html>